---
import Hero from './Hero.astro';
import Header from './Header.astro';
---

<main class="container sm:p-4 p-2 mx-auto">
  <Header />
  <Hero />
  <div class="h-svh w-full bg-pink-200" id="about"></div>
  <div class="h-svh w-full bg-cyan-300" id="experience"></div>
  <div class="h-svh w-full bg-green-200" id="projects"></div>
  <div class="h-svh w-full bg-brown-200" id="footer"></div>
</main>
