---
import Hero from './Hero.astro';
import Header from './Header.astro';
import About from './About.astro';
import Experience from './Experience.astro';
---

<main class="container max-w-3xl sm:p-4 p-3 mx-auto">
  <Header />
  <Hero />
  <About />
  <Experience />
  <div class="h-svh w-full bg-green-200" id="projects"></div>
  <div class="h-svh w-full bg-brown-200" id="footer"></div>
</main>
