---
import Header from '@components/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="stylesheet" href="../../node_modules/flag-icons/css/flag-icons.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    style="display: none;"
    class="font-sans min-h-screen dark:bg-dark dark:text-light bg-light text-dark transition-colors duration-300 font-outfit"
  >
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    /* color-scheme: dark; */
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>

<script>
  const theme = window.localStorage.getItem('theme');
  const isDarkTheme = theme && theme === 'dark';
  if (isDarkTheme) document.querySelector('html')?.classList.add('dark');
  document.querySelector('body')!.style.display = 'block';
</script>
