---
const { title, blurDelay, id } = Astro.props;
---

<div class="w-full mb-8 blur-section" id={id} style={{ '--blur-delay': `${blurDelay}s` }}>
  {title && <div class="text-lg font-bold mb-2">{title}</div>}
  <slot />
</div>
